<div style="text-align: center">
  <form (ngSubmit)="login()" #signInForm="ngForm" class="form-signin">
    <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" [(ngModel)]="login.username" class="form-control" placeholder="Email address" name="username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" [(ngModel)]="login.password" class="form-control" placeholder="Password" name="password" required>
    <div padding text-center>
      <p>Don't have an account yet? <a routerLink="/signup">Create one</a></p>
    </div>       
    <div class="alert alert-danger" role="alert" *ngIf="validationMessage" >
      {{validationMessage}}
    </div>
    <button class="btn btn-lg btn-primary btn-block" (click)="signin();">Sign in</button>
</form>
</div>  